@{
    ViewBag.Title = "About";
}

<div id="about-splash"></div>
<div id="content">
    <h2>About!</h2>
    <h3>Welcome to LogicalPanda.com!</h3>
    A collection of mini projects and nonsense from Ger Corr including: Web Services, Games, Forums, Leaderboards
    <br />
    <br />
    This website (incl. Leaderboards and Posts) was created using .Net MVC with Entity Framework. Its hosted in my living room!
    <br />
    <br />
    The Kanban board uses node.js (hosted on azure) and the game was created using Unity
</div>