@{
    ViewBag.Title = "FootballApp";
}


<div class="container-fluid text-center" id="logicalpandagrid">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h2>About!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h3>Welcome to LogicalPanda.com!</h3>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            A collection of mini projects and nonsense from Ger Corr including: Web Services, Games, Forums, Leaderboards
            <br />
            <br />
            This website (incl. Leaderboards and Posts) was created using .Net MVC with Entity Framework. Its hosted in my living room!
            <br />
            <br />
            The Kanban board uses node.js (hosted on azure) and the game was created using Unity
        </div>
    </div>

</div>
