@{
    ViewBag.Title = "GoeShare";
}

<div class="container-fluid text-center" id="logicalpandagrid">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <div class="cell">
                <div class="icon-or-title"><i class="fa fa-map-marker" style="font-size:48px;"></i><br />GeoShare</div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cell cell-2-1">
                <div class="icon-or-title"><h2>GeoShare!</h2></div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="cell cell-2-1">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="cell cell-5-1">
                <div class="icon-or-title">
                    GeoShare is an android app that allows users to tag their current area with a message. Other users can then see the message if they go to the same area.

                    You can see the code for GeoShare (backend and frontend) on my GitHub.
                </div>
            </div>
            <div class="cell">
                <img src="~/Content/Images/GeoShare.png" />
            </div>
        </div>
    </div>

</div>