@{
    ViewBag.Title = "Kanban";
}

<div id="about-splash"></div>
<div id="content">
    <h2>Kanban!</h2>

    This kanban board was developed using node.js with express, mongoDb, and a frontend using js/jQuery.
    <br />
    This is just an iframe, the site is hosted on azure: <a href="http://gercorr.westeurope.cloudapp.azure.com:8080/">http://gercorr.westeurope.cloudapp.azure.com:8080/</a>
    <br />
    The code is hosted on github: <a href="https://github.com/gercorr/nodejs_express">https://github.com/gercorr/nodejs_express</a>
    <br />
    <br />
    <iframe src="http://gercorr.westeurope.cloudapp.azure.com:8080/" width="100%" height="600px"></iframe>
    <br />
    <br />
    The tasks can be dragged into tasks (sub tasks!) or into 




</div>

