

/*
    WRAPPER
*/

/*normal*/
#wrapper {
    padding-top: 54px;
    padding-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

/*wide*/
@media(min-aspect-ratio: 1/1) {
    #wrapper {
    padding-top: 0px;
    padding-left: 70px;
    }
}

/*normal toggled*/
#wrapper.toggled {
    padding-left: 250px;
}

/*wide toggled*/
@media(min-aspect-ratio: 1/1) {
    #wrapper.toggled {
        padding-left: 250px;
    }        
}

/*
    BLACK BAR - TOP WHEN WIDE SIDE WHEN MOBILE
*/

/*normal*/
#sidebar-main-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0px;
    width: 100%;
    height: 54px;
    background: #1e2226;
    top: 54px;
    margin-top: -54px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*wide*/
@media(min-aspect-ratio: 1/1) {
    #sidebar-main-wrapper {
        width: 70px;
        left: 70px;
        width: 70px;
        height: 100%;
        margin-left: -70px;
        top: 0px;
        margin-top: 0px;
    }    
}

/*normal toggled*/
#wrapper.toggled #sidebar-main-wrapper {
    left: 250px;
}

/*wide toggled*/
@media(min-aspect-ratio: 1/1) {
    #wrapper.toggled #sidebar-main-wrapper {
        left: 70px;
    }    
}

/*normal*/
.sidebar-main-nav {
    /*position: absolute;*/
    top: 50%;
    width: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    /*transform: translateY(-50%);*/
}

#menu-toggle{
    position: absolute;
    left: 20px;
    top: 20%;
}

@media(min-aspect-ratio: 1/1) {
#menu-toggle{
    top: 50%;
}
}

/*normal*/
#menu-button {
    width: 30px;
    height: 30px;
    content:url("Images/white-menu.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
    GREY BAR - APPEARS FROM SIDE
*/

/*normal toggled*/
#wrapper.toggled #menu-button {
    content:url("Images/white-x.png");
}

/*normal*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    top :0;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x:hidden;
    background: #272d32;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*wide*/
@media(min-aspect-ratio: 1/1) {
    #sidebar-wrapper {
    margin-left: -180px;
        width: 0;
    }    
}

/*normal toggled*/
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/*wide toggled*/
@media(min-aspect-ratio: 1/1) {
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }    
}

/*normal*/
.sidebar-nav {
    position: absolute;
    top: 50%;
    width: 250px;
    margin: 0;
    padding: 0;
        list-style: none;
    transform: translateY(-50%);
   
}

/*normal*/
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

/*normal*/
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

/*normal*/
.sidebar-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
}

/*normal*/
.sidebar-nav a:hover {
    color: #eca331;
}

/*normal*/
#download-links {
    display: none;
}

/*normal*/
#logo {
    position: absolute;
    right:0;
    top:50px;
    }

/*wide*/
@media(min-aspect-ratio: 1/1) {
#logo {
    top:0px;
    } 
}

/*
    MAIN CONTENT
*/

/*normal*/
#content-wrapper {
    width:100%;
    height:100%;
      padding-bottom : 50px;
}
/*wide*/
/*wide toggled*/
@media(min-aspect-ratio: 1/1) {
    #wrapper.toggled #content-wrapper {
        margin-left: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
      padding-bottom : 50px;
    }
}


#index-splash {
    position:fixed;
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
}


/*portrait: i.e. phones*/
@media(max-aspect-ratio: 1/1) {
    #index-splash {
    background-image: url("Images/thin-index.png");  
    height: calc(100% + 110px);  
    }    
}

/*landscape*/
@media(min-aspect-ratio: 1/1) {
    #index-splash {
    background-image: url("Images/wide-index.png"); 
    }    
}

/*panoramic*/
@media(min-aspect-ratio: 2/1) {
    #index-splash {
    background-size: 100% auto;
    background-image: url("Images/wide-index.png"); 
    }    
}

#about-splash {
    height:200px;
    background-repeat: no-repeat;
    background-image: url("Images/thin-about.png");    
}
/*wide*/
@media(min-width:900px) {
    #about-splash {
    background-size: 100% auto;
    background-image: url("Images/wide-about.png"); 
    }    
}




/*
    REGULAR CONTENT
*/

#content {
    padding-left: 20px;
    padding-right: 20px;
}

#content h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#gamebox-wrapper{
    text-align: center;
}
#gamebox{
    display: inline-block;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgb(94,115,154);
    color: white;
}







